@{
    ViewData["Title"] = "Reservations Actions";
}

<h1 class="text-center">Reservations Actions</h1>

<div class="d-flex justify-content-center mt-5">
    <!-- Ajusta el valor de mt-5 para el espacio deseado -->
    <div class="btn-group-vertical" role="group" aria-label="Ticket Actions">
        <!-- Botón para Editar Price Route -->
        <button type="button" class="btn btn-primary ticket-btn" onclick="window.location.href='https://localhost:7019/TravelRoutes/Index'">Edit Price Route</button>

        <!-- Botón para Ver Reservas -->
        <button type="button" class="btn btn-primary ticket-btn" onclick="window.location.href='https://localhost:7019/ReservationsAdmin/Index'">View Reservations</button>
    </div>
</div>
